header {
  height: 30px;
  background: powderblue;
}

.m_b5 {
  margin-bottom: 5px;
}

.grid {
  display: grid;
  gap: 5px;
}

main {
  height: 200px;
  grid-template-columns: 7fr 3fr;
  .left {
    height: 200px;
    grid-template-columns: 3fr 7fr;
    .l_left {
      height: 200px;
      grid-template-rows: repeat(4, 1fr);
      .l_box {
        background: greenyellow;
      }
    }
    .l_right {
      height: 200px;
      grid-template-rows: repeat(4, 1fr);
      .l_box {
        background: greenyellow;
      }
    }
  }
  .right {
    height: 200px;
    grid-template-columns: repeat(3, 1fr);
    .r_box {
      background: orange;
    }
  }
}

section {
  height: 50px;
  grid-template-columns: repeat(2, 1fr);
  .box {
    background: blue;
  }
}

nav {
  height: 200px;
  grid-template-columns: repeat(5, 1fr);
  .n_box {
    background: orange;
  }
}

footer {
  height: 60px;
  background: paleturquoise;
}
